.ant-layout-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 36px;
  grid-column-gap: 36px;

  padding: 0 36px;
  margin-top: 32px;

  @media screen and (max-width: 980px){
    grid-template-columns: 1fr
  }
}

.ant-spin {
  position: absolute;
  left: 50%;
  bottom: 50%;
}