body{
  background-color: #E5E5E5 !important;
}

.hidden {
  display: none;
}

.container{
  max-width: 1010px;
  min-width: 460px;
  margin: 0 auto;
}

.ant-tabs{
	min-height: 100vh;
	background: #FFFFFF;
}

.ant-tabs-nav-wrap{
  justify-content: center;
}

.ant-tabs-tab{
  padding-top: 19px;
  padding-bottom: 10px;
}

.ant-tabs-nav{
  margin-bottom: 0 !important;

  &::before{
    display: none;
  }
}

.ant-layout{
  position: relative;
}

.ant-pagination {
  text-align: center;
  padding: 20px 0 !important;
}
