.ant-layout-header{
  background: #FFFFFF;
  padding: 0 36px;

  @media screen and (max-width: 550px){
    padding: 0 16px;
  }
}

.ant-input {
  height: 40px;
  font-size: 16px;
  line-height: 22px;
}